<!doctype html>
<html lang="en">
<head>
    <meta content="utf-8" http-equiv="encoding">
	<link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
	<link rel="icon" href="data:,">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css')}}" rel="stylesheet" />

    <!--  Material Dashboard CSS    -->
    <link href="{{ url_for('static', filename='assets/css/material-dashboard.css')}}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

    <link href="{{ url_for('static', filename='assets/css/bootstrap-datepicker.css')}}" rel="stylesheet" />

    <style type="text/css">

      body {
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          font-weight: 400;
          background-color: #fff;
          margin-top: 10px;
        }


        #sequence text, #legend text {
          font-weight: 400;
          fill: #fff;
        }

        .card-header {
            padding: 15px!important;
        }

        .divider {
          height: 1px;
          width:100%;
          display:block; /* for use on default inline elements like span */
          margin: 9px 0;
          overflow: hidden;
          background-color: #e5e5e5;
        }
        /*
        Darcula color scheme from the JetBrains family of IDEs
        */

        .hljs {
          display: block;
          overflow-x: auto;
          padding: 0.5em;
          background: #2b2b2b;
        }

        .hljs {
          color: #bababa;
        }

    </style>
</head>

<body>

    <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card" style="box-shadow: none;">
                            <div class="card-header" data-background-color="green" style="padding: 15px;text-align: center;">
                                <h4 class="title">CPSC 304 Project</h4>
                                <p class="category">Edward, Gary, Isaac, Jean-Claude</p>
                            </div>
                            <div class="card-content" style="padding-top:30px;">

                                <div class="card card-nav-tabs">
                                    <div class="card-header" data-background-color="orange" style="text-align:center;">
                                        <div class="nav-tabs-navigation">
                                            <div class="nav-tabs-wrapper">
                                                <ul class="nav nav-tabs" data-tabs="tabs" style="display: inline-block;">
                                                    <li class="active">
                                                        <a href="#select_tab" data-toggle="tab" style="text-align: center;">
                                                            <i class="material-icons">format_line_spacing</i><br/>
                                                            SELECT
                                                        <div class="ripple-container"></div></a>
                                                    </li>
                                                    <li>
                                                        <a href="#insert_tab" data-toggle="tab" style="text-align: center;">
                                                            <i class="material-icons">add</i><br>
                                                            INSERT
                                                        <div class="ripple-container"></div></a>
                                                    </li>
                                                    <li>
                                                        <a href="#delete_tab" data-toggle="tab" style="text-align: center;">
                                                            <i class="material-icons">delete</i><br/>
                                                            DELETE
                                                        <div class="ripple-container"></div></a>
                                                    </li>
                                                    <li>
                                                        <a href="#update_tab" data-toggle="tab" style="text-align: center;">
                                                            <i class="material-icons">publish</i><br/>
                                                            UPDATE
                                                        <div class="ripple-container"></div></a>
                                                    </li>
                                                    <li>
                                                        <a href="#join_tab" data-toggle="tab" style="text-align: center;">
                                                            <i class="material-icons">link</i><br/>
                                                            &nbsp;&nbsp;JOINS&nbsp;&nbsp;
                                                        <div class="ripple-container"></div></a>
                                                    </li>
                                                    <li>
                                                        <a href="#groupby_tab" data-toggle="tab" style="text-align: center;">
                                                            <i class="material-icons">list</i><br/>
                                                            GROUP BY
                                                        <div class="ripple-container"></div></a>
                                                    </li>
                                                    <li>
                                                        <a href="#createview_tab" data-toggle="tab" style="text-align: center;">
                                                            <i class="material-icons">view_list</i><br/>
                                                            CREATE VIEW
                                                        <div class="ripple-container"></div></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- JSON Response Modal -->
                                    <div class="modal fade" id="response-modal" tabindex="-1" role="dialog" aria-labelledby="select-modal-label" aria-hidden="true">
                                        <div class="modal-dialog" style="margin-top:15px;">
                                            <div class="modal-content">
                                                <div class="modal-header" style="padding: 15px 15px 5px 15px;">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                                    <h5 class="modal-title" id="streamLabel_id">JSON Response</h5>
                                                </div>
                                                <div class="modal-body" id="select-response" style="padding: 10px;">
                                                    <pre style="padding-top:15px;"><code class="json hljs" id="response-json" style="background-color: #f5f5f5!important;color: black"></code></pre>
                                                </div>
                                                <div class="modal-footer" style="margin-top:0px;padding: 3px;">
                                                    <button type="button" class="btn btn-md" data-dismiss="modal" style="width: 100%;background-color:#22aba6;">
                                                        <i class="icon-close"></i> Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-content">
                                        <div class="tab-content">

                                            <!-- SELECT QUERIES -->
                                            <div class="tab-pane active" id="select_tab">

                                                <div class="row">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4" style="text-align: center;">
                                                        <div class="dropdown">
                                                            <a href="#" class="btn btn-md btn-warning dropdown-toggle" data-toggle="dropdown">
                                                                Select Query Options <b class="caret"></b>
                                                            </a>
                                                            <ul class="dropdown-menu" style="left:50%;right:auto;transform:translate(-50%,0);">
                                                                <li><a onclick="view_tables('athlete')">Athlete Table</a></li>
                                                                <li><a onclick="view_tables('team')">Team Table</a></li>
                                                                <li><a onclick="view_tables('coach')">Coach Table</a></li>
                                                                <li><a onclick="view_tables('competition')">Competition Table</a></li>
                                                                <li><a onclick="view_tables('game')">Game Table</a></li>
                                                                <li><a onclick="view_tables('gamegoal')">GameGoal Table</a></li>
                                                                <li><a onclick="view_tables('season')">Season Table</a></li>
                                                                <li><a onclick="view_tables('stadium')">Stadium Table</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4"></div>
                                                </div>

                                                <div class="divider"></div>

                                                <div id="select-content">
                                                   <div class="row" style="text-align: center;" id="select-json-btn">
                                                        <button class="btn btn-success btn-sm" style="margin-bottom:20px;padding-top:8px;background-color: #22aba6;" data-toggle="modal" data-target="#response-modal">Show JSON Query Response</button>
                                                    </div>

                                                    <div class="card-content table-responsive table-full-width" style="padding: 30px;">
                                                        <table class="table">
                                                            <thead id="db_table_insertion_headers" class="text-danger">
                                                                <!-- Dynamically inserted headers -->
                                                            </thead>
                                                            <tbody id="db_table_insertion_body">
                                                                <!-- Dynamically inserted body -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- INSERT QUERIES -->
                                            <div class="tab-pane" id="insert_tab">
                                                <div class="row">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4" style="text-align: center;">
                                                        <div class="dropdown">
                                                            <a href="#" class="btn btn-md btn-warning dropdown-toggle" data-toggle="dropdown">
                                                                Insert Query Options <b class="caret"></b>
                                                            </a>
                                                            <ul class="dropdown-menu" style="left:50%;right:auto;transform:translate(-50%,0);">
                                                                <li><a onclick="insert_options('Athlete', this.id)" id="insert_options_athlete">Athlete Table</a></li>
                                                                <li><a onclick="insert_options('Team', this.id)" id="insert_options_team">Team Table</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4"></div>
                                                </div>

                                                <div class="divider"></div>

                                                <div id="insert-options">
                                                    <!-- Athlete Options -->
                                                    <div class="row" id="insert-athlete-options" style="display: none;">
                                                        <div class="col-md-4" style="text-align: center;">
                                                            <div class="dropdown">
                                                                <a href="#" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown">
                                                                    Choose Athlete Name<b class="caret"></b>
                                                                </a>
                                                                <ul class="dropdown-menu" style="left:50%;right:auto;transform:translate(-50%,0);">
                                                                    <li><a onclick="insert_dropdown('Ronaldinho', 'aName')" id="insert-Ronaldinho">Ronaldinho</a></li>
                                                                    <li><a onclick="insert_dropdown('Neymar', 'aName')" id="insert-Neymar">Neymar</a></li>
                                                                    <li><a onclick="insert_dropdown('Zlatan', 'aName')" id="insert-Zlatan">Zlatan</a></li>
                                                                    <li><a onclick="insert_dropdown('Pele', 'aName')" id="insert-Pele">Pele</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" style="text-align: center;">
                                                            <div class="dropdown">
                                                                <a href="#" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown">
                                                                    Choose Athlete Status<b class="caret"></b>
                                                                </a>
                                                                <ul class="dropdown-menu" style="left:50%;right:auto;transform:translate(-50%,0);">
                                                                    <li><a onclick="insert_dropdown('Active', 'aStatus')" id="insert-Active">Active</a></li>
                                                                    <li><a onclick="insert_dropdown('Retired', 'aStatus')" id="insert-Retired">Retired</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="row" style="text-align: center;">
                                                                <button class="btn btn-success btn-sm" style="margin-bottom:10px;padding-top:8px;background-color: #22aba6;" onclick="insert_queries('Athlete')">Run Query</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Team Options -->
                                                    <div class="row" id="insert-team-options" style="display: none;">
                                                        <div class="col-md-4" style="text-align: center;">
                                                            <div class="dropdown">
                                                                <a href="#" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown">
                                                                    Choose Team Name<b class="caret"></b>
                                                                </a>
                                                                <ul class="dropdown-menu" style="left:50%;right:auto;transform:translate(-50%,0);">
                                                                    <li><a onclick="insert_dropdown('UBCFC', 'tName')" id="insert-UBCFC">UBC FC</a></li>
                                                                    <li><a onclick="insert_dropdown('CPSC304', 'tName')" id="insert-CPSC304">CPSC 304</a></li>
                                                                    <li><a onclick="insert_dropdown('Whitecaps', 'tName')" id="insert-Whitecaps">Whitecaps FC</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" style="text-align: center;">
                                                            <div class="dropdown">
                                                                <a href="#" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown">
                                                                    Choose Team Location<b class="caret"></b>
                                                                </a>
                                                                <ul class="dropdown-menu" style="left:50%;right:auto;transform:translate(-50%,0);">
                                                                    <li><a onclick="insert_dropdown('Vancouver', 'tLocation')" id="insert-Vancouver">Vancouver</a></li>
                                                                    <li><a onclick="insert_dropdown('Seattle', 'tLocation')" id="insert-Seattle">Seattle</a></li>
                                                                    <li><a onclick="insert_dropdown('Toronto', 'tLocation')" id="insert-Toronto">Toronto</a></li>
                                                                    <li><a onclick="insert_dropdown('Paris', 'tLocation')" id="insert-Paris">Paris</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="row" style="text-align: center;">
                                                                <button class="btn btn-success btn-sm" style="margin-bottom:10px;padding-top:8px;background-color: #22aba6;" onclick="insert_queries('Team')">Run Query</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="divider"></div>

                                                <div id="insert-content">
                                                    <div id="insert-athlete-content" style="display: none;">
                                                        <div class="row" style="text-align: center;" id="select-json-btn">
                                                            <button class="btn btn-success btn-sm" style="margin-bottom:20px;padding-top:8px;background-color: #22aba6;" data-toggle="modal" data-target="#response-modal">Show JSON Query Response</button>
                                                        </div>
                                                        <div class="card-content table-responsive table-full-width" style="padding: 30px;">
                                                            <table class="table" id="insert_table_insertion_athlete"></table>
                                                        </div>
                                                    </div>
                                                    <div id="insert-team-content"style="display: none;">
                                                        <div class="row" style="text-align: center;" id="select-json-btn">
                                                            <button class="btn btn-success btn-sm" style="margin-bottom:20px;padding-top:8px;background-color: #22aba6;" data-toggle="modal" data-target="#response-modal">Show JSON Query Response</button>
                                                        </div>
                                                        <div class="card-content table-responsive table-full-width" style="padding: 30px;">
                                                            <table class="table" id="insert_table_insertion_team"></table>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                            <!-- DELETE QUERIES -->
                                            <div class="tab-pane" id="delete_tab">
                                                <div class="row">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4" style="text-align: center;">
                                                        <div class="dropdown">
                                                            <a href="#" class="btn btn-md btn-warning dropdown-toggle" data-toggle="dropdown">
                                                                Delete Query Options <b class="caret"></b>
                                                            </a>
                                                            <ul class="dropdown-menu" style="left:50%;right:auto;transform:translate(-50%,0);">
                                                                <li><a onclick="delete_options('Stadium', this.id)" id="delete_options_stadium">Stadium Table</a></li>
                                                                <li><a onclick="delete_options('Team', this.id)" id="delete_options_team">Team Table</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4"></div>
                                                </div>

                                                <div class="divider"></div>

                                                <div id="delete-options">
                                                    <!-- Stadium Options -->
                                                    <div class="row" id="delete-stadium-options" style="display: none;">
                                                        <div class="col-md-4" style="text-align: center;">
                                                            <div class="dropdown">
                                                                <a href="#" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown">
                                                                    Choose Stadium Name<b class="caret"></b>
                                                                </a>
                                                                <ul class="dropdown-menu" style="left:50%;right:auto;transform:translate(-50%,0);">
                                                                    <li><a onclick="delete_dropdown('Allianz Arena', 'sName')" id="delete-Allianz-Arena">Allianz Arena</a></li>
                                                                    <li><a onclick="delete_dropdown('Anfield', 'sName')" id="delete-Anfield">Anfield</a></li>
                                                                    <li><a onclick="delete_dropdown('Camp Nou', 'sName')" id="delete-Camp-Nou">Camp Nou</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="row" style="text-align: center;">
                                                                <button class="btn btn-success btn-sm" style="margin-bottom:10px;padding-top:8px;background-color: #22aba6;" onclick="delete_queries('Stadium')">Run Query</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Team Options -->
                                                    <div class="row" id="delete-team-options" style="display: none;">
                                                        <div class="col-md-4" style="text-align: center;">
                                                            <div class="dropdown">
                                                                <a href="#" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown">
                                                                    Choose Team ID <b class="caret"></b>
                                                                </a>
                                                                <ul class="dropdown-menu" style="left:50%;right:auto;transform:translate(-50%,0);">
                                                                    <li><a onclick="delete_dropdown('Brazil', 'tName')" id="insert-Brazil">Brazil</a></li>
                                                                    <li><a onclick="delete_dropdown('Argentina', 'tName')" id="insert-Argentina">Argentina</a></li>
                                                                    <li><a onclick="delete_dropdown('Portugal', 'tName')" id="insert-Portugal">Portugal</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="row" style="text-align: center;">
                                                                <button class="btn btn-success btn-sm" style="margin-bottom:10px;padding-top:8px;background-color: #22aba6;" onclick="delete_queries('Team')">Run Query</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="divider"></div>

                                                <div id="delete-content">
                                                    <div id="delete-stadium-content" style="display: none;">
                                                        <div class="row" style="text-align: center;" id="select-json-btn">
                                                            <button class="btn btn-success btn-sm" style="margin-bottom:20px;padding-top:8px;background-color: #22aba6;" data-toggle="modal" data-target="#response-modal">Show JSON Query Response</button>
                                                        </div>
                                                        <div class="card-content table-responsive table-full-width" style="padding: 30px;">
                                                            <table class="table" id="delete_table_insertion_stadium"></table>
                                                        </div>
                                                    </div>
                                                    <div id="delete-team-content"style="display: none;">
                                                        <div class="row" style="text-align: center;" id="select-json-btn">
                                                            <button class="btn btn-success btn-sm" style="margin-bottom:20px;padding-top:8px;background-color: #22aba6;" data-toggle="modal" data-target="#response-modal">Show JSON Query Response</button>
                                                        </div>
                                                        <div class="card-content table-responsive table-full-width" style="padding: 30px;">
                                                            <table class="table" id="delete_table_insertion_team"></table>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <!-- UPDATE QUERIES -->
                                            <div class="tab-pane" id="update_tab">
                                                Fourth Tab
                                            </div>

                                            <div class="tab-pane" id="join_tab">
                                                <div class="row" style="margin-bottom: 15px;">
                                                    <div class="col-md-4" style="text-align: center;">
                                                        <div class="row" style="text-align: center;">
                                                            <button class="btn btn-success btn-med" style="margin-bottom:10px;background-color: #22aba6;" onclick="join_query(1)"><span>Join 2 Tables</span><br></button>
                                                        </div>
                                                        <span style="text-transform: initial;font-size:larger;">Find all the teams that play in the Champions League 2017 that have scored at least 5 goals</span>
                                                    </div>
                                                    <div class="col-md-4" style="text-align: center;">
                                                        <div class="row" style="text-align: center;">
                                                            <button class="btn btn-success btn-med" style="margin-bottom:10px;background-color: #22aba6;" onclick="join_query(2)"><span>Join 2 Tables</span><br></button>
                                                        </div>
                                                        <span style="text-transform: initial;font-size:larger;">Find all the players who have scored at least 10 goals and won a trophy in Europe</span>
                                                    </div>
                                                    <div class="col-md-4" style="text-align: center;">
                                                        <div class="row" style="text-align: center;">
                                                            <button class="btn btn-success btn-med" style="margin-bottom:10px;background-color: #22aba6;" onclick="join_query(3)"><span>Join 3 Tables</span></button>
                                                        </div>
                                                        <span style="text-transform: initial;font-size:larger;">Finds all players from Brazil who scored at least one goal in a game played in Europe and in 2017</span>
                                                    </div>
                                                </div>

                                                <div class="divider"></div>

                                                <div id="join-content" style="display: none;">
                                                    <div>
                                                        <div class="row" style="text-align: center;" id="select-json-btn">
                                                            <button class="btn btn-success btn-sm" style="margin-bottom:20px;padding-top:8px;background-color: #22aba6;" data-toggle="modal" data-target="#response-modal">Show JSON Query Response</button>
                                                        </div>
                                                        <div class="card-content table-responsive table-full-width" style="padding: 30px;">
                                                            <table class="table">
                                                                <thead id="join_table_insertion_headers" class="text-danger"></thead>
                                                                <tbody id="join_table_insertion_body"></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <!-- GROUP BY QUERY -->
                                            <div class="tab-pane" id="groupby_tab">
                                                <div class="col-md-12">
                                                    <div class="row" style="text-align: center;">
                                                        <button class="btn btn-success btn-med" style="margin-bottom:10px;background-color: #22aba6;" onclick="groupby_query()"><span style="text-transform: initial;">Find number of Players in each club team who are not born in the country the club is located in</span></button>
                                                    </div>
                                                </div>

                                                <div class="divider"></div>

                                                <div id="groupby-content" style="display: none;">
                                                    <div>
                                                        <div class="row" style="text-align: center;" id="select-json-btn">
                                                            <button class="btn btn-success btn-sm" style="margin-bottom:20px;padding-top:8px;background-color: #22aba6;" data-toggle="modal" data-target="#response-modal">Show JSON Query Response</button>
                                                        </div>
                                                        <div class="card-content table-responsive table-full-width" style="padding: 30px;">
                                                            <table class="table" id="groupby_table_insertion_team"></table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- CREATE VIEW QUERY -->
                                            <div class="tab-pane" id="createview_tab">
                                                Seventh Tab
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="main-panel" style="width: 100%;overflow-x: hidden;">

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> Built for <a href="https://github.com/jctissier/304Project">CPSC 304 Project</a>
                </p>
            </div>
        </footer>
    </div>

</body>

	<!--   Core JS Files   -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>


	<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js')}}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='assets/js/material.min.js')}}" type="text/javascript"></script>

	<!--  Notifications Plugin    -->
	<script src="{{ url_for('static', filename='assets/js/bootstrap-notify.js')}}"></script>

	<!-- Material Dashboard javascript methods -->
	<script src="{{ url_for('static', filename='assets/js/material-dashboard.js')}}"> </script>

    <!-- JS queries -->
    <script src="{{ url_for('static', filename='assets/js/db_queries.js')}}"> </script>

</html>